@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

/* .poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
} */
/*  modular scale */
:root {
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  --primary: #050505;
  --background: #fafafa;
  --background-secondary: #ebebeb;
}

* {
  margin: 0;
  padding: 0;
}

/* lobotomized owl to give margin */
body * + * {
  margin-top: var(--s-2);
  background-color: var(--background-secondary);
}

/* finds the selector on attribute value */
[data-testid|="stHeader"] {
  display: none;
}

h1,
h2,
h3,
p {
  color: var(--primary);
  font-family: "Poppins", sans-serif;
  /* font-family: "Nerko One", sans-serif; */
}

p {
  font-weight: 400;
}

h1 {
  font-size: var(--s3);
}

h2 {
  font-size: var(--s2);
}

h3 {
  font-size: var(--s1);
}

p {
  font-size: var(--s0);
}

[data-testid|="stHorizontalBlock"] * + * {
  margin-top: 0;
}

.stAppViewBlockContainer {
  background-color: var(--background);
  padding-top: var(--s1);
  padding-left: var(--s3);
  padding-right: var(--s3);
  max-width: 110ch;
}

[data-testid="stVerticalBlockBorderWrapper"] * {
  background-color: revert;
}

.stMetric {
  padding-left: var(--s1);
}
